[submodule "python_utils_aisu"]
	path = python_utils_aisu
	url = git@github.com:bfs15/python_utils_aisu.git
[submodule "clipboard_event"]
	path = clipboard_event
	url = git@github.com:bfs15/clipboard_event.git
