[submodule "python_utils_aisu"]
	path = python_utils_aisu
	url = git@github.com:bfs15/python_utils_aisu.git
[submodule "clipboard_event"]
	path = clipboard_event
	url = git@github.com:bfs15/clipboard_event.git
[submodule "text_handler"]
	path = text_handler
	url = git@github.com:bfs15/text_handler.git
[submodule "translation_utils"]
	path = translation_utils
	url = git@github.com:bfs15/translation_utils.git
[submodule "tts"]
	path = tts
	url = git@github.com:bfs15/tts.git
